name: Docker Image CI

on:
  push:
    branches: "main"

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      -
        name: Checkout
        uses: actions/checkout@v3
      -
        name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      -
        name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2
      -
        name: Build and push
        uses: docker/build-push-action@v4
        with:
          context: .
          file: ./Dockerfile
          push: true
          tags: ${{ secrets.DOCKERHUB_USERNAME }}/image-t4m:latest
      -
        name: connect ssh
        uses: appleboy/ssh-action@v0.1.9
        with:
          host: ${{ secrets.HOST }}
          username: ${{ secrets.USERNAME }}
          password: ${{ secrets.PASSWORD }}
          port: ${{ secrets.PORT }}
          script: |
            docker stop ${{ secrets.CNAME }}
            docker rm ${{ secrets.CNAME }}
            docker rmi ${{ secrets.DOCKERHUB_USERNAME }}/image-t4m
            docker run --name ${{ secrets.CNAME }} -p 8080:8080 -d -e DB_HOST=${{secrets.DB_HOST}} -e DBPORT=3306 -e DB_USER=${{secrets.DB_USER}} -e DB_PORT=${{secrets.DB_PORT}} -e DB_NAME=${{secrets.DB_NAME}} -e DB_PASS=${{secrets.DB_PASS}} -e SECRET_KEY=${{secrets.SECRET_KEY}} -e SECRET_OPENAI_KEY=${{secrets.SECRET_OPENAI_KEY}} -e CLOUD_NAME=${{secrets.CLOUD_NAME}} -e CLOUDINARY_KEY=${{secrets.CLOUDINARY_KEY}} -e CLOUDINARY_SECRET=${{secrets.CLOUDINARY_SECRET}} -e MAILER_SENDER_PASS=${{secrets.MAILER_SENDER_PASS}} -e MAILER_SENDER_MAIL=${{secrets.MAILER_SENDER_MAIL}} -e TOKEN_ADMIN=${{secrets.TOKEN_ADMIN}} -e SERVER=8080 ${{ secrets.DOCKERHUB_USERNAME }}/image-t4m